@{
    ViewBag.Title = "Home Page";
}

<div>
    <img src="../img/Bookx.jpg" class="img-fluid" width="1120" height="360">
    <h1>BooKX</h1>
    <p class="lead">BooKX Madrid!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Libreria con un toque cl&aacute;sico en Madrid!</h2>
        <p>
            BooKX te trasladará a otra &eacute;poca con su toque cl&aacute; y en pleno centro de Madrid!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Todos los libros al alcance de un click!</h2>
        <p>Mario Vargas Llosa, Gabriel Garc&iacute;a M&aacute;rquez, Miguel de Cervantes, Isabell Allende, todos tus 
           Autores favoritos y sus grandes obras en un solo lugar y al alcance de un click</p>
    </div>
    <div class="col-md-4">
        <h2>Sesiones con tus autores favoritos</h2>
        <p>Peri&oacute;dicamente realizamos conversatorios invitando a un escritor, para tener una tertulia amable y que puedas conocerlos. </p>
    </div>
</div>